@media screen and (max-width: 420px) { .row3 input{padding: 10px 7px !important;}label{margin-left: 7px !important;}.ex{text-align: left !important;}.buttons{margin-left: 10px;}}
@media screen and (max-width: 394px) { .row3 input{margin-left: -3% !important;}.buttons{text-align: center;line-height: 3;}label{margin-left: 18% !important;}}
@media screen and (max-width: 320px) { .buttons{margin-left: 0px;}}
